[Unit]
Description=Kill all nodejs process
Before=sleep.target
Before=suspend.target

[Service]
User=bangn
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/pkill node

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
